<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
  <testsuites>
    <testsuite name="Messenger Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="self-testing"/>
    <env name="APP_KEY" value="base64:yk+bUVuZa1p86Dqjk9OjVK2R1pm6XHxC6xEKFq8utH0="/>
    <env name="APP_URL" value="http://messenger.test"/>
    <env name="CACHE_DRIVER" value="file"/>
  </php>
</phpunit>
