.modal-fullscreen.modal-dialog{
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.modal-fullscreen .modal-content{
  height: 100%;
  border: 0;
  border-radius: 0;
}

.modal-fullscreen .modal-body{
  overflow-y: auto;
}

body, wrapper {
  min-height:100vh;
}

.icon-nav-solo{
  font-size: 18px;
}

.NS{
  display: none;
}

.badge-notify{
  position:relative;
  top: -11px;
  left: -9px;
  margin-right: -15px;
}

.pointer_area{
  cursor: pointer;
}

#login_carousel .carousel-inner .carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btag{
  font-size: 8px;
}

.flipF{
  display: inline-block;
  vertical-align: top;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: flipF;
}

.avatar-is-offline {
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #333;
}

.avatar-is-online {
  border-radius: 50%;
  box-shadow: 0 0 3px 3px #2ecc71;
}

.avatar-is-away {
  border-radius: 50%;
  box-shadow: 0 0 3px 3px #dc3545;
}

.shadow-warning {
  box-shadow: 0 0 8px 5px #dc3545 !important;
  z-index: 998;
}

.shadow-success {
  box-shadow: 0 0 8px 5px #38c172 !important;
  z-index: 998;
}

.shadow-primary {
  box-shadow: 0 0 8px 5px #2677dd !important;
  z-index: 998;
}

.message-reply-highlight {
  box-shadow: 0 0 8px 1px #20c997;
  z-index: 998;
}

.group-image {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.nowrap{
  white-space: nowrap;
}

.table_links a:link, .table_links a:visited, .table_links a:hover, .table_links a:active{
  text-decoration: none;
  color: #333;
}

.dropdown-menu.notify-drop {
  min-width: 330px;

  max-height: 560px;
}

.dropdown-menu.notify-drop .drop-content {
  max-height: 480px;
  overflow-y: auto;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}

.dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
}
.dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

.accordion_arrow .card .card-header:before {
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0aa";
  float: right;
  color: #007bff;
  font-size: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.4s;
}
.accordion_arrow  .card .card-header.collapsed:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #343a40;
  transition: transform 0.4s;
}

.accordion_arrow .panel-heading{
  cursor: pointer;
}

.txtc textarea{
  min-height: 100px;
  max-height: 300px;
}

.expImg{
  cursor: pointer;
  position: relative;
}

.img_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #333;
  border-radius: 6px;
}

.expImg:hover .img_overlay {
  opacity: 0.9;
}

.img_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 90px;
  height: 90px;
  line-height: 0;
  font-size: 1.2rem;
}

.btn-circle-xl {
  width: 120px;
  height: 120px;
  line-height: 0;
  font-size: 1.5rem;
}

@media (max-width: 991px){
  .display-4{
    font-size: 3.2em;
  }
  .dropdown-menu.notify-drop {
    min-width: 100%;
  }
}

@media(max-width : 767px){
  .display-4{
    font-size: 2.2em;
  }
  .text-left-xs{
    text-align: left;
  }
}

@media (max-width: 576px){
  .h4.page-header{
    font-size: 21px;
  }
  .h3.page-header{
    font-size: 21px;
  }
}