// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables

@import 'dark_variables';

@import "switches";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "bootswatch";
@import 'animations';

@import "toastr";

@import '~simplebar/dist/simplebar.css';

@import "common";

@import "messages";

@import "calls";

.text-dark{
  color : $gray-300 !important;
}

.modal-header.text-light{
  color: $gray-200 !important;
}

.special-text-warning.text-warning{
  color : $yellow !important;
}

.badge.badge-light{
  color: #eee;
  background-color: $gray-900 !important;
}

.bg-light{
  background-color : $gray-650 !important;
}

.bg-dark.invert-dark-mode.text-light {
  background-color: $gray-650 !important;
  color: $gray-300 !important;
}

.bg-gradient-primary.invert-dark-mode.text-light {
  color: $gray-300 !important;
}

.card-body.msg-ctnr-unread {
  background-color: $purple !important;
}

.seen-by:hover {
  box-shadow: 0 1.4px 2px -2px $yellow !important;
}

.socket-error-main{
  color : $gray-200 !important;
}

.inbox ul.messages-list li a {
  color: #dbdfe4 !important;
}

.inbox ul.messages-list li[class*='alert-'] a{
  color: $white !important;
}

.system-message .text-dark:hover {
  color: $white !important;
}

li.thread_list_item:hover{
  background-color: $gray-700 !important;
  border-color: $gray-700 !important;
}

.btn-outline-dark {
  border-color: #ece4e4;
  color: #ece4e4;
}

.btn-outline-dark:hover{
  border-color : $white;
  background-color : $gray-700;
  color : $white;
}

.avatar-is-offline {
  border-radius: 50%;
  box-shadow: 0 0 4px 1px $gray-550 !important;
}

.avatar-is-online {
  border-radius: 50%;
  box-shadow: 0 0 3px 3px $green !important;
}

.avatar-is-away {
  border-radius: 50%;
  box-shadow: 0 0 3px 3px $red !important;
}

.main-bobble-online {
  border-radius: 50%;
  box-shadow: 0 0 6px 4px $green !important;
}

.main-bobble-offline{
  border-radius: 50%;
  box-shadow: 0 0 4px 2px $gray-550 !important;
}

.main-bobble-away {
  border-radius: 50%;
  box-shadow: 0 0 6px 4px $red !important;
}

.message-avatar{
  box-shadow: 0 0 5px 1px $gray-550 !important;
}

.message-reactions.my-reactions .reactions-body {
  //background-color: $my-message !important;
  //border: 1px solid $my-message !important;
  color: $gray-200 !important;
}

.message-reactions .reactions-body {
  //background-color: $other-message !important;
  //border: 1px solid $other-message !important;
  color: $gray-200 !important;
}

.message.my-message:after {
  border-left: 12px solid $my-message !important;
}

.message.my-message:before {
  border-left: 13px solid $my-message !important;
}

.message .message-body {
  background-color: $my-message !important;
  border: 1px solid $my-message !important;
  color: $gray-200 !important;
}

.message .message-info > h5 > i {
  color: $gray-200 !important;
}

.message .message-info > h5 {
  color: $gray-200 !important;
}

.message .message-info > h4 {
  color: $gray-200 !important;
}

.message.info .message-body {
  background-color: $other-message !important;
  border: 1px solid $other-message !important;
  color: $gray-200 !important;
}

.message .message-body a {
  color: #dbdfe4 !important;
}

.message .message-body a:hover {
  color: #c7b1b1 !important;
}

.message.info:after, .message.info:before {
  border-right: 13px solid $other-message !important;
}

.message.info .message-info > h4 {
  color: $gray-200 !important;
}

.message.info .message-info > h5, .message.info .message-info > h5 > i {
  color: $gray-200 !important;
  opacity: 0.9;
}

.message_hover_opt{
  color: $gray-550 !important;
}

.system-message.alert-warning {
  background: none $red !important;
  color: $gray-200 !important;
}

.chat-body::-webkit-scrollbar-track {
  background-color: $gray-700!important;
}

.chat-body::-webkit-scrollbar {
  background-color: $gray-700 !important;
}

.chat-body::-webkit-scrollbar-thumb {
  background-color: #777 !important;
}

hr.wb-video-hr {
  border-top: 1px dotted $gray-500 !important;
}