name: tests

on:
  push:
    branches:
      - master
      - 1.x
  pull_request:
    branches:
      - master
      - 1.x
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: true
      matrix:
        php: [7.4, 8.0, 8.1]
        laravel: [^8.70]
        use-uuid: [false, true]
        morph-maps: [false, true]

    name: PHP ${{ matrix.php }} | Laravel ${{ matrix.laravel }} | UUID ${{ matrix.use-uuid }} | MorphMap ${{ matrix.morph-maps }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: |
          composer require "illuminate/contracts=${{ matrix.laravel }}" --no-update
          composer update --prefer-dist --no-interaction --no-progress

      - name: Execute tests
        env:
          USE_UUID: ${{ matrix.use-uuid }}
          USE_MORPH_MAPS: ${{ matrix.morph-maps }}
        run: vendor/bin/phpunit --verbose
